/*

*/
//@use "sass:math"; build in method
@use "sass:math";

//card_type_1
.card_type_1 {
  display: block;
  padding: $base_padding;
  border: $base-border-thickness #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4);
  width: 200px;
  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base_padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $font-size-md;
    a {
      text-decoration: underline;
    }
  }
}
//card_type_2
.card_type_2 {
}
//card_type_3
//used to check values and calculations
// @debug math.div($base-border-radius, 4);
